html {
  background-color: $white;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.app-title-container {
  display: inline-block;
  width: 90%;
  margin: 0 5% 10px;
  border-bottom: 1px solid $grey;
  .app-title-link {
    text-decoration: none;
  }
  .app-title {
    font-size: 50px;
    font-family: $title-font;
    color: $green;
    margin: 10px 0 0;
    padding: 15px 0 0;
  }
  .app-subtitle {
    padding: 0;
    font-size: 16px;
    color: $grey;
    margin: 0 0 30px 15px;
    font-family: $body-font;
    font-style: italic;
  }
}

.app-navbar {
  display: block;
  text-align: center;
  padding-top: 20px;

  .app-navlink {
    padding: 5px 20px;
    margin: 0 3px;
    font-size: 26px;
    @include link;
  }
  .active {
    background-color: $green;
    color: $white;
  }
}
