.footer {
  border-top: 1px solid $grey;
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.footer-link {
  position: relative;
  color: $grey;
  margin: 20px;
  padding: 2px;
  transition: border-bottom 200ms, color 200ms, padding-bottom 200ms;
  &:hover {
    border-bottom: 3px solid $green;
    color: $green;
    transition: border-bottom 200ms, color 200ms, padding-bottom 200ms;
  }
}
