@mixin component-title {
  font-size: 30px;
  margin: 0 0 0 50px;
  font-family: $title-font;
  color: $white;
}

@mixin component-background {
  background: linear-gradient(to bottom, $green, $white);
  min-height: 300px;
  margin-top: 5px;
  border-radius: 4px;
}
