html {
  background-color: #fafafa; }

.app-title {
  display: inline-block;
  width: 80%;
  margin: 0 10%;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #43A047;
  padding: 30px 0;
  border-bottom: 1px solid #9e9e9e; }

.app-navbar {
  display: block;
  text-align: center;
  padding-top: 20px; }
  .app-navbar .app-navlink {
    padding: 5px 10px 10px;
    margin: 0 3px;
    color: #43A047;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: color 200ms, background-color 200ms; }
    .app-navbar .app-navlink:hover, .app-navbar .app-navlink .active {
      background-color: #43A047;
      color: #fafafa;
      transition: color 200ms, background-color 200ms; }

.about {
  background: linear-gradient(to bottom, #43A047, #fafafa);
  min-height: 300px;
  margin-top: 5px;
  border-radius: 4px; }

.about-title {
  font-size: 30px;
  margin: 0 0 0 50px;
  font-family: "Roboto", sans-serif;
  color: #fafafa; }

.contact {
  background: linear-gradient(to bottom, #43A047, #fafafa);
  min-height: 300px;
  margin-top: 5px;
  border-radius: 4px; }

.contact-title {
  font-size: 30px;
  margin: 0 0 0 50px;
  font-family: "Roboto", sans-serif;
  color: #fafafa; }
